    <p-dialog [(visible)]="editDialog" [style]="{width: '70vw'}" header="{{'demande.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
<ng-template pTemplate="content" >
        <p-tabView>
            <p-tabPanel header="{{'demande.tabPan' | translate}}">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4 p-4">

                            <div class="flex flex-col gap-2">
                                <label class="text-sm font-semibold" for="1">{{'demande.motifDemande' | translate}}</label>
                                <p-dropdown class="w-full"  appendTo="body"  [options]="motifDemandes" [(ngModel)]="item.motifDemande" id="1" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" optionLabel="libelle" placeholder="{{'demande.motifDemande' | translate}}"  >
                                </p-dropdown>
                                
                            </div>

                            <div class="flex flex-col gap-2">
                                <label class="text-sm font-semibold" for="2">{{'demande.actionDemande' | translate}}</label>
                                <p-dropdown class="w-full"  appendTo="body"  [options]="actionDemandes" [(ngModel)]="item.actionDemande" id="2" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" optionLabel="libelle" placeholder="{{'demande.actionDemande' | translate}}"  >
                                </p-dropdown>
                                
                            </div>

                                <div class="flex flex-col gap-2">
                                    <label class="text-sm font-semibold" for="3">{{'demande.numero' | translate}}<span class="text-red-500">*</span></label>
                                    <input type="text" pInputText  placeholder="{{'demande.numero' | translate}}" id="3" [(ngModel)]="item.numero"
                                           [ngClass]="{'ng-invalid ng-dirty' : !validDemandeNumero}"  />
                                    <small class="text-red-500" *ngIf='!validDemandeNumero'>Numero is obligatory.</small>
                                </div>


                                <div class="flex flex-col gap-2">
                                    <label class="text-sm font-semibold" for="4">{{'demande.adresse' | translate}}</label>
                                    <input type="text" pInputText  placeholder="{{'demande.adresse' | translate}}" id="4" [(ngModel)]="item.adresse"
                                            />
                                    
                                </div>


                                <div class="flex flex-col gap-2">
                                    <label class="text-sm font-semibold" for="5">{{'demande.dateAffectation' | translate}}</label>
                                    <p-calendar class="w-full" appendTo="body" id="5"  [showTime]="true" [showSeconds]="false" placeholder="{{'demande.dateAffectation' | translate}}"  [(ngModel)]="item.dateAffectation"
                                                dateFormat="{{dateFormat}}"  >
                                    </p-calendar>
                                    
                                </div>

                                <div class="flex flex-col gap-2">
                                    <label class="text-sm font-semibold" for="6">{{'demande.dateAnnulation' | translate}}</label>
                                    <p-calendar class="w-full" appendTo="body" id="6"  [showTime]="true" [showSeconds]="false" placeholder="{{'demande.dateAnnulation' | translate}}"  [(ngModel)]="item.dateAnnulation"
                                                dateFormat="{{dateFormat}}"  >
                                    </p-calendar>
                                    
                                </div>

                                <div class="flex flex-col gap-2">
                                    <label class="text-sm font-semibold" for="7">{{'demande.dateCloture' | translate}}</label>
                                    <p-calendar class="w-full" appendTo="body" id="7"  [showTime]="true" [showSeconds]="false" placeholder="{{'demande.dateCloture' | translate}}"  [(ngModel)]="item.dateCloture"
                                                dateFormat="{{dateFormat}}"  >
                                    </p-calendar>
                                    
                                </div>

                                <div class="flex flex-col gap-2">
                                    <label class="text-sm font-semibold" for="8">{{'demande.dateTraitement' | translate}}</label>
                                    <p-calendar class="w-full" appendTo="body" id="8"  [showTime]="true" [showSeconds]="false" placeholder="{{'demande.dateTraitement' | translate}}"  [(ngModel)]="item.dateTraitement"
                                                dateFormat="{{dateFormat}}"  >
                                    </p-calendar>
                                    
                                </div>

                                <div class="flex flex-col gap-2">

                                    <label class="text-sm font-semibold" for="9">{{'demande.enAttenteRetourClient' | translate}}</label>

                                    <p-inputSwitch id="9"  [(ngModel)]="item.enAttenteRetourClient"
                                                    >
                                    </p-inputSwitch>
                                    

                                </div>


                            <div class="flex flex-col gap-2">
                                <label class="text-sm font-semibold" for="10">{{'demande.client' | translate}}</label>
                                <p-dropdown class="w-full"  appendTo="body"  [options]="clients" [(ngModel)]="item.client" id="10" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" optionLabel="libelle" placeholder="{{'demande.client' | translate}}"  >
                                </p-dropdown>
                                
                            </div>

                </div>
            </p-tabPanel>

        </p-tabView>

</ng-template>

<ng-template pTemplate="footer" >
    <div class="flex justify-end space-x-3 p-4">

            <button class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-primary" label="{{'validate' | translate}}"  (click)="edit()">
                <i class="pi pi-check"></i> {{'validate' | translate}}
            </button>

                <button (click)="hideEditDialog()" class="border border-gray-400 text-gray-600 hover:bg-gray-200 px-4 py-2 rounded-md">
                    <i class="pi pi-times"></i> {{'cancel' | translate}}
                </button>

    </div>
</ng-template>

    </p-dialog>
