<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'demande.tabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'demande.tabPan' | translate}}">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4 p-4">
                            <div class="flex flex-col gap-2">
                                <label class="text-sm font-semibold" for="1">{{'demande.motifDemande' | translate}}</label>
                                <input type="text" pInputText [disabled]="true" placeholder="{{'demande.motifDemande' | translate}}" autofocus  id="1" [ngModel]="item.motifDemande?.libelle">
                            </div>
                            <div class="flex flex-col gap-2">
                                <label class="text-sm font-semibold" for="2">{{'demande.actionDemande' | translate}}</label>
                                <input type="text" pInputText [disabled]="true" placeholder="{{'demande.actionDemande' | translate}}" autofocus  id="2" [ngModel]="item.actionDemande?.libelle">
                            </div>
                                <div class="flex flex-col gap-2">
                                    <label class="text-sm font-semibold" for="3">{{'demande.numero' | translate}}</label>
                                    <input  type="text" pInputText [disabled]="true" placeholder="{{'demande.numero' | translate}}" autofocus  id="3" [ngModel]="item.numero">
                                </div>
                                <div class="flex flex-col gap-2">
                                    <label class="text-sm font-semibold" for="4">{{'demande.adresse' | translate}}</label>
                                    <input  type="text" pInputText [disabled]="true" placeholder="{{'demande.adresse' | translate}}" autofocus  id="4" [ngModel]="item.adresse">
                                </div>
                                <div class="flex flex-col gap-2">
                                    <label class="text-sm font-semibold" for="5">{{'demande.dateAffectation' | translate}}</label>
                                    <p-calendar class="w-full" id="5" [disabled]="true"  [showTime]="true" [showSeconds]="false" placeholder="{{'demande.dateAffectation' | translate}}"  [ngModel]="item.dateAffectation" dateFormat="{{dateFormat}}"></p-calendar>
                                </div>
                                <div class="flex flex-col gap-2">
                                    <label class="text-sm font-semibold" for="6">{{'demande.dateAnnulation' | translate}}</label>
                                    <p-calendar class="w-full" id="6" [disabled]="true"  [showTime]="true" [showSeconds]="false" placeholder="{{'demande.dateAnnulation' | translate}}"  [ngModel]="item.dateAnnulation" dateFormat="{{dateFormat}}"></p-calendar>
                                </div>
                                <div class="flex flex-col gap-2">
                                    <label class="text-sm font-semibold" for="7">{{'demande.dateCloture' | translate}}</label>
                                    <p-calendar class="w-full" id="7" [disabled]="true"  [showTime]="true" [showSeconds]="false" placeholder="{{'demande.dateCloture' | translate}}"  [ngModel]="item.dateCloture" dateFormat="{{dateFormat}}"></p-calendar>
                                </div>
                                <div class="flex flex-col gap-2">
                                    <label class="text-sm font-semibold" for="8">{{'demande.dateTraitement' | translate}}</label>
                                    <p-calendar class="w-full" id="8" [disabled]="true"  [showTime]="true" [showSeconds]="false" placeholder="{{'demande.dateTraitement' | translate}}"  [ngModel]="item.dateTraitement" dateFormat="{{dateFormat}}"></p-calendar>
                                </div>
                                <div class="flex flex-col gap-2">

                                    <label class="text-sm font-semibold" for="9">{{'demande.enAttenteRetourClient' | translate}}</label>

                                    <p-inputSwitch id="9"  [disabled]="true" [ngModel]="item.enAttenteRetourClient"></p-inputSwitch>

                                </div>
                            <div class="flex flex-col gap-2">
                                <label class="text-sm font-semibold" for="10">{{'demande.client' | translate}}</label>
                                <input type="text" pInputText [disabled]="true" placeholder="{{'demande.client' | translate}}" autofocus  id="10" [ngModel]="item.client?.libelle">
                            </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="flex justify-end p-4">
            <div>
                <button class="border border-gray-400 font-semibold py-2 px-4 rounded shadow" (click)="hideViewDialog()">
                    <i class="pi pi-times"></i> Annuler
                </button>
            </div>
        </div>
    </ng-template>
</p-dialog>
